.contendPart1{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ContactIcon{
    text-align: center;
}
.imgContact{
    filter: brightness(100%);
}
.titleContact{
    font-family: 'Poppins Semi Bold';
    font-size: 40px;

    color: rgba(229, 229, 229, 0.91);
}
.subtitleContact{
    font-family: 'Poppins Regular';
    font-size: 14px;

    color: rgba(229, 229, 229, 0.91);
}
.form{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.input{
    width: 25vw;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #E5E5E5;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    padding-left: 0.5rem;
    padding-top: 0.5rem;

    color: #E5E5E5;
    font-family: 'Poppins Regular';
    font-size: 14px;
}
.btnInput{
    cursor: pointer;
    height: 43px;
    width: 25vw;
    background-color: #4E63C3;
    border-radius: 50px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins Semi Bold';
    font-size: 18px;
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    border: 0px;
    margin-top: 2rem;
}
.btnInput:active{
    background-color: #4e63c3af;
}
.input:active{
    border: 0px;
}
.contendPart1{
    height: 500px;
    margin-bottom: 4rem;
}
.alert{
    z-index: 10;
    left: 0px;
    right: 0px;
    top: 2rem;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

@media (max-width: 987px) {
    .ContactIcon{
        width: 70vw;
    }
    .contact{
        margin-top: 3rem;
        width: 70vw;
    }
    .input{
        width: 80%;
        text-align: center;

    }
    .btnInput{
        width: 80%;
    }
}
@media (max-width: 618px) {
    .ContactIcon{
        width: 80vw;
    }
    .contact{
        margin-top: 3rem;
        width: 80vw;
    }
}
