*{
    padding: 0px;
    margin: 0px;
}
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background: radial-gradient(86.9% 86.9% at 50% 13.1%, #2D2E30 24.48%, #020110 100%);;
}
::-webkit-scrollbar{
	width: 6px;
	background: radial-gradient(86.9% 86.9% at 50% 13.1%, #2D2E30 24.48%, #020110 100%);;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #697AC8;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins Extra Light';
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins Semi Bold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
html{
    scroll-behavior: smooth;
}
body{
    background: radial-gradient(86.9% 86.9% at 50% 13.1%, #2D2E30 24.48%, #020110 100%);
}
.header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    background-color: #cccccc00;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    filter: brightness(100%);

    width: 80vmax;
    height: 80vh;
    border-radius: 50px;
}
.bannerTx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: linear-gradient(90deg, #999999d1 10%, #99999981 25%, #99999903);
    height: 100%;
    border-radius: 50px;
    padding-left: 90px;

    color: #151317;
}
.bannerTxTitle{
    width: 50%;
    font-family: 'Poppins Bold';
    font-size: 40px;
    text-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);

    margin-bottom: 1.5rem;
}
.bannerTxSubtitle{
    font-family: 'Poppins Light';
    font-size: 15px;
    text-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);

    margin-bottom: 1.5rem;
}
.btnBanner{
    height: 43px;
    width: 185px;
    background-color: #4E63C3;
    border-radius: 50px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins Regular';
    font-size: 14px;
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnIcon{
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: rgba(41, 49, 57, 0.95);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    transform: translate(0px, -40vh);
}
.iconHead{
    width: 80px;
    filter: brightness(100%);
}
.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 250px;
    border-radius: 50px;
    position: absolute;
    background: rgba(41, 49, 57, 0.95);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    transform: translate(40vmax, 0px);
}
.redIcon{
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 40px;
}
.nav{
    height: 90px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    background: rgba(41, 49, 57, 0.95);
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    transform: translate(0px, 40vh);
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-1{
    display: flex;
    flex-direction: row;
}
.itemC{
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
}
.borderBotNav{
    border-bottom: 0.2rem solid #999999;
}
.nav_text{
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Poppins Light';
    color: #999999;
    
}
.Item{
    cursor: pointer;
    text-decoration: none;
}
.imgItem{
    width: 34px;
    height: 30px;
    color: #999999;
}
.footer{
    width: 100%;
    height: 70vh;
    background:#283038;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footerIcon{
    text-align: center;
}
.imgFooter{
    filter: brightness(100%);
}
.titleFooter{
    font-family: 'Poppins Semi Bold';
    font-size: 40px;

    color: rgba(229, 229, 229, 0.91);
}
.subtitleFooter{
    font-family: 'Poppins Regular';
    font-size: 14px;

    color: rgba(229, 229, 229, 0.91);
}
.footerEnlases{
    width: 25vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titleList{
    font-family: 'Poppins Extra Light';
    font-size: 19px;

    color: rgba(229, 229, 229, 0.91);
    margin-bottom: 1rem;
}
ol.list{
    list-style:none;
    font-family: 'Poppins Regular';
    font-size: 19px;
    margin-left: 1rem;
}
a.list{
    text-decoration: none;
    color: #FFFFFF;  
}
.footerRedes{
    display: flex;
    flex-direction: row;
}
.iconRedFooter{
    background-color: #222326;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 0.8rem;
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.imgRedes{
    height: 40px;
}


.titlePart{
    font-family: 'Poppins Semi Bold';
    font-size: 40px;
    text-align: center;

    color: rgba(229, 229, 229, 0.91);
}
.contendPart{
    width: 50%;
    font-family: 'Poppins Light';
    font-size: 15px;
    text-align: center;

    margin-bottom: 3rem;
    color: #FFFFFF;
}
.titlePart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
}

.disclaimer{
    display:none;
}

.commingSon{
    margin: auto;
    border-style: dotted;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 4rem;
    border-color: rgb(226 232 240);
    border-radius: 1.5rem;
    border-width: 2px;
    padding: 5rem;
}

.commingSonText{
    text-align: center;
    font-family: 'Poppins Semi Bold';
    font-size: 40px;

    color: rgba(229, 229, 229, 0.91);
}

.commingSonIcon{
    width: 5rem;
    height: 5rem;
    color: rgba(229, 229, 229, 0.91);
}
.commingSon-min{
    border-style: dotted;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-color: rgb(226 232 240);
    border-radius: 1.5rem;
    border-width: 2px;
    padding: 2rem;
}

.alertText{
    text-align: center;
    position: relative;
    width: 80vh;
    margin-left: auto;
    margin-right: auto;
    color: #05090b;
    font-family: 'Poppins Semi Bold';
    font-size: 12;
    padding: 1rem;
    left: 0rem;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.alert{
    z-index: 50;
    left: 0px;
    right: 0px;
    top: 2rem;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.alertError{
    background-color: #981d1d;
    color: #fff;
}
.alertWarnig{
    background: #e0ec68;
}
.alertInfo{
    background: linear-gradient(to bottom, #dfdfff, #2af5d0);
}
.alertSuccess{
    background-color: #007f56;
    color: #fff;
}
.labelPrin{
    font-family: 'Poppins Semi Bold';
    font-size: 20px;
    color: rgba(229, 229, 229, 0.91);
    text-align: left;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
}
.label{
    font-family: 'Poppins Regular';
    font-size: 15px;
    color: rgba(184, 184, 184, 0.91);
    text-align: left;
    margin-top: 0.2rem;
    float: left;
    width: 25vw;
    height: auto;
    word-break: break-word;
}
.textBold{
    font-weight: 1000;
    color: rgba(211, 209, 209, 0.91);
}
.col-span-3 {
    grid-column: span 1 / span 2;
}
.sub-navigation{
    border-right: 0.01rem solid #5b5b5d;
}
.p-2 {
    padding: 0.5rem/* 8px */;
}

.subnavigationButtom{
    background-color: #999999;
    border: #999999;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 500;
    border-radius: 0rem 0.375rem 0.375rem 0rem;
    font-family: 'Poppins Regular';
    cursor: pointer;
    width: 100%;
}
.text-color-pri {
    color: #4E63C3;
}
.bg-pri-hover:hover{
    background-color: rgba(229, 229, 229, 0.91);
}
.border-subnavigation-pri{
    border-left: 0.2rem solid #4E63C3;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.text-color-seco {
    color: rgb(75 85 99);
}
.mr-4 {
    margin-right: 1rem;
}
.subnavigationIcon {
    height: 1.5rem;
    width: 1.5rem;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.homeContainer{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #999999;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

.header-section{
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.title-secction{
    font-family: 'Poppins Semi Bold';
    font-size: 35px;

    color: rgba(41, 49, 57);
}
.description-secction{
    font-family: 'Poppins Regular';
    font-size: 15px;

    color: rgba(41, 49, 57);
}
.contend-section{
    display: grid;
    grid-template: 1fr / 4fr 1fr;
}
.contend-section-1row{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.porfile-form{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}
.title-form{
    margin-bottom: 0.2rem;
    font-family: 'Poppins Regular';
    font-size: 17px;

    color: rgba(41, 49, 57);
}
.input-form{
    font-family: 'Poppins Regular';
    font-size: 17px;
    height: 35px;
    padding-left: 0.5rem;

    color: rgba(41, 49, 57);
}
.disabled{
    cursor:no-drop;
}
.image-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    position: sticky;
    bottom: 0rem;
    padding-top: 2rem;
    padding-right: 2rem;
}
.container-section{
    position: relative;
    height: 100%;
}
.ml-1{
    margin-left: 1rem;
}
.mt-01{
    margin-top: 0.5rem;
}
.basic-buttom{
    height: 43px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #4E63C3;
    border-radius: 0.5rem;
    color: #ffffff;
    font-family: 'Poppins Regular';
    font-size: 14px;
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: none;
    border: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic-buttom:hover{
    background-color:#697AC8;
}
.delete-buttom{
    height: 43px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #697AC8;
    border-radius: 0.5rem;
    color: #ffffff;
    font-family: 'Poppins Regular';
    font-size: 14px;
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration: none;
    border: 0px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-buttom:hover{
    background-color:#981d1d;
}
.submit-form{
    cursor: pointer;
    height: 43px;
    background-color: #4E63C3;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins Semi Bold';
    font-size: 18px;
    box-shadow: 10px 10px 50px 5px rgba(0, 0, 0, 0.25);
    border: 0px;
    margin-top: 2rem;
}
.submit-form:hover{
    background-color:#697AC8;
}
.photoEdit:hover{
    opacity: 0.8;
    cursor: pointer;
}
.table{
    display: flex;
    flex-direction: row;
}
.title-table{
    margin-bottom: 0.2rem;
    font-family: 'Poppins Semi Bold';
    font-size: 15px;

    color: rgba(41, 49, 57);
}
.container-table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.ml-4{
    margin-left: 1rem;
}
.editElement{
    padding-left: 0.5rem;
    cursor: pointer;
    border-radius: 0.2rem;
}
.editElement:hover{
    background-color:#cacaca;
}
.modal-fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    background-color: #124f623d;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.close{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.close:hover{
    color: #981d1d;
}
.body::-webkit-scrollbar {
    display: none;
}
.modal{
    max-height: 95vh;
    overflow-y: auto;
    width: 70vw;
    background-color: #999999;
    border-radius: 1rem;
}
.modal-alert{
    max-height: 95vh;
    overflow-y: auto;
    width: 50vw;
    background-color: #999999;
    border-radius: 1rem;
}
.modal-header{
    background-color: rgba(41, 49, 57);
    border-radius: 1rem 1rem 0rem 0rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cacaca;
    font-family: 'Poppins Semi Bold';
    font-size: 15px;
    Overflow: overlay
}
.contend-form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mb-1{
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.modal-contend{
    margin: 0.4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0.2rem 0.2rem 1rem 1rem;
    padding-bottom: 1rem;
}
.rounded_full{
    border-radius: 100%;
}
.x7{
    height: 7rem;
    width: 7rem;
}
.camera_icon{
    color: rgba(41, 49, 57);
    padding: 1rem;
}
.bg_secondarie{
    background-color:#697AC8;
}
.image_container_form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg_images{
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
  
.input-file {
    cursor: inherit;
    cursor: pointer !important;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 50%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}
.upload-grid{
    display: grid;
    grid-template: 1fr / 2fr 1fr; 
    gap: 0.5rem;
}
.h-input{
    height: 35px;
}
.h-1{
    height: 1.5rem !important;
    width: 1.5rem !important;
}
.x1{
    height: 1rem;
    width: 1rem;
}
.table-galery{
    text-align: center;
    padding: 0.5rem;
}
.py-auto{
    margin-left: auto;
    margin-right: auto;
}
.modal-c{
    margin-left: 3rem;
    margin-right: 3rem;
}
.text-secondarie{
    font-family: 'Poppins Light';
    font-size: 14px;
    text-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
}
.contend-items{
    list-style:none;
}
.items-row{
    display: grid;
    grid-template: 1fr / 1fr 4fr 2fr; 
    gap: 0.5rem;
}
.contend-table-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.align-items-end{
    align-items: end;
}
.mr-1{
    margin-right: 1rem;
}
.text-primarie{
    font-family: 'Poppins Regular';
    font-size: 16px;
    text-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
    word-break: break-word;
}
.x5{
    width: 5rem;
    height: 5rem;
}
.p-1{
    padding: 1rem;
}
.items-list{
    z-index: 40;
    margin-top: 0.5rem;
    width: 100%;
    background-color: #cacaca;
    border-radius: 0.5rem;
    position: absolute;
    list-style: none;
    overflow-y: auto;
    max-height: 8rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.relative{
    position: relative;
}
.btn-input{
    right: 0px;
    position: absolute;
    height: 85%;
    padding-top: auto;
    padding-bottom: auto;
    background-color: white;
    border: 0px;
    border-radius: 2rem;
    margin: 0.2rem;
    cursor: pointer;
}
.w-full{
    width: 100%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.item-list{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.item-list:hover{
    background-color: rgb(235, 235, 235);
}
.rounded-full{
    border-radius: 2rem !important;
}
.color-secondarie{
    background-color: #E5E5E5;
}
.border-0{
    border: 0px;
}
.h-1-8{
    height: 1.8rem;
}
.m-0-5{
    margin: 0.5rem;
}
.text-white{
    color: rgb(255, 254, 254) !important;
}
.blod-text{
    font-weight: 900;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.w-87screen{
    width: 87vw;
}
.justify-center{
    justify-content: center;
}
.h-2-5{
    height: 2.5rem;
}
.colorGreen{
    color: #007f56;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.items-acc{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.gap2{
    gap: 2rem;
}

@media (max-width: 1143px) {
    .nav_text{
        margin-left: 3px;
        font-size: 10px;
        font-family: 'Poppins Light';
        color: #999999;
        
    }
    .imgItem{
        width: 30px;
        height: 26px;
    }
    .nav{
        height: 70px;
    }
    .imgFooter{
        width: 130px;
    }
    .titleFooter{
        font-size: 20px;
    }
    .subtitleFooter{
        font-size: 12px;
    }
    .titleList{
        font-size: 14px;
    }
    ol.list{
        font-size: 14px;
    }
    .iconRedFooter{
        width: 60px;
        height: 60px;
    }
    .imgRedes{
        height: 30px;
    }
    .titlePart{
        font-size: 30px;
    }
    .contendPart{
        font-size: 13px;
    }
    .commingSon{
        margin: auto;
        border-style: dotted;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        margin-top: 4rem;
        border-color: rgb(226 232 240);
        border-radius: 1.5rem;
        border-width: 2px;
        padding: 1rem;
    }
    
    .commingSonText{
        text-align: center;
        font-family: 'Poppins Semi Bold';
        font-size: 30px;
    
        color: rgba(229, 229, 229, 0.91);
    }
    
    .commingSonIcon{
        width: 3rem;
        height: 3rem;
        color: rgba(229, 229, 229, 0.91);
    }
}

@media (max-width: 987px) {
    .banner{
        width: 90vw;
    }
    .redes{
        transform: translate(45vw, 0px);
    }
    .itemC{
        margin-right: 0.8rem;
        margin-left: 0.8rem;
    }
    .redes{
        width: 70px;
        height: 210px;
    }
    .redIcon{
        width: 30px;
    }
    .bannerTxTitle{
        font-size: 30px;
    }
    .btnBanner{
        height: 33px;
        width: 165px;
        font-size: 12px;
    }
    .label{
        width: 80%;
    }    
}
@media (max-width: 739px) {
    .banner{
        width: 82vw !important;
        height: 85vh !important;
    }
    .redes{
        transform: translate(40vw, 0px);
    }
    .btnIcon{
        width: 90px;
        height: 90px;
        transform: translate(0px, -40vh);
    }
    .iconHead{
        width: 60px;
    }
    .bannerTxSubtitle{
        font-size: 12px;
        margin-bottom: 0.5rem;
    }
    .bannerTxTitle{
        font-size: 22px;
        margin-bottom: 0.5rem;
    }
    .btnBanner{
        width: 155px;
        font-size: 10px;
    }
    .bannerTx{
        padding-left: 40px;
    }
    .footer{
        height: 100vh;
        flex-direction: column;
    }
    .footerEnlases{
        width: 40vw;
    }
}
@media (max-width: 618px) {

    /*.header{
        position: relative !important;
    }*/
    .banner{
        height: 80vh !important;
    }
    .nav_text{
        display: none !important;
    }
    .nav{
        position: fixed;
        height: 60px !important;
        transform: translate(0px, 0px);
        bottom: 5px;
        z-index: 5;
    }
    .imgItem{
        width: 36px !important;
        height: 34px !important;
    }
 
}

@media (max-width: 514px) {

    .footerEnlases{
        width: 60vw !important;
    }
 
}

@media (max-width: 370px) {

    .imgItem{
        width: 26px !important;
        height: 24px !important;
    }
    .bannerTx{
        background: linear-gradient(90deg, #999999d1 10%, #999999aa 25%, #99999920);
    }
 
}

@media (max-width: 348px) {

    .banner{
        width: 75vw !important;
    }
    .redes{
        transform: translate(35vw, 0px);
    }
    .footerEnlases{
        width: 80vw !important;
    }
 
}
  